.search-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.search-input {
    width: 60%;
    max-width: 520px;
    padding: 12px 18px;
    border-radius: 999px;
    border: none;
    outline: none;
    font-size: 15px;
}